html {
  font-size: 10px;
  background-image: url("img/goal.jpg");
  background-size: cover;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #DFDFDF;
	overflow: scroll;
}
h1{
	color: black;
	float: left;
	margin-left: 1em;
	font-family: verdana;

	
}
#fixed-nav{
	background-color: #777;
	position: fixed;
	width: 100%;
	top: 0px;
	float:left;
}
#ul-nav{
	list-style-type: none;
	float: right;
}
li.team{
	float: left;
	margin-right: 2em;
	
}
li a:hover img{
    filter: drop-shadow(10px 0px 3px #555);
}
.active{
}
img{
	height: 2.5em;
}


#content{

}
